<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>


        <!-- Accounting -->
        <menuitem name="Account stamp" id="menu_account_stamp" parent="account.menu_finance_receivables" action="action_account_stamp" sequence="55"/>

        <!-- <menuitem
            id="menu_custom_menu"
            name="Custom"
            parent="account.menu_finance"
            sequence="3"
        />
        <menuitem name="Custom Declarations" id="menu_custom_declarations" parent="menu_custom_menu" action="action_custom_declaration" sequence="55"/>
        <menuitem
            id="menu_partner_tools"
            name="Partner Tools"
            parent="account.menu_finance"
            sequence="3"
        /> -->

    </data>
</openerp>