pdfminer.six # needed by attachment_indexation module
# https://github.com/OCA/account-payment/pull/665
odoo14-addon-account_payment_register_keep_amount @ git+https://github.com/OCA/account-payment.git@refs/pull/665/head#subdirectory=setup/account_payment_register_keep_amount
