odoo-addon-delivery_carrier_partner @ git+https://github.com/OCA/delivery-carrier@refs/pull/1094/head#subdirectory=delivery_carrier_partner
odoo-addon-l10n_it_delivery_note @ git+https://github.com/OCA/l10n-italy@refs/pull/5081/head#subdirectory=l10n_it_delivery_note
