.left_with_line {
    text-align:left; vertical-align:text-top; border-top:1px solid #000; padding:5px
}
.right_with_line {
    text-align:right; vertical-align:text-top; border-top:1px solid #000; padding:5px
}
.left_without_line {
    text-align:left; vertical-align:text-top; padding:5px
}
.right_without_line {
    text-align:right; vertical-align:text-top; padding:5px
}