<?xml version="1.0" ?>
<odoo>

    <record id="view_intrastat_company_form" model="ir.ui.view">
        <field name="name">view_form_intrastat_company</field>
        <field name="model">res.company</field>
        <field name="inherit_id" ref="base.view_company_form" />
        <field name="arch" type="xml">

            <xpath expr="//notebook" position="inside">
                <page string="Intrastat">
                    <group colspan="4">
                        <group>
                            <!-- Intrastat Main Settings -->
                            <group string="General Settings">
                                <field name="intrastat_ua_code" string="UA Code" />
                                <field
                                    name="intrastat_uom_kg_id"
                                    string="Unit of Measure (Kg)"
                                />
                                <field
                                    name="intrastat_additional_unit_from"
                                    string="Additional Unit From"
                                />
                                <field
                                    name="intrastat_exclude_free_line"
                                    string="Exclude Free Line"
                                />
                                <field
                                    name="intrastat_delegated_name"
                                    string="Delegated Name"
                                />
                                <field
                                    name="intrastat_delegated_vat"
                                    string="Delegated VAT"
                                />
                                <field
                                    name="intrastat_export_file_name"
                                    string="Export File Name"
                                />
                                <field
                                    name="intrastat_min_amount"
                                    string="Minimum Amount"
                                />
                            </group>
                            <!-- Intrastat Thresholds & Fiscal Positions -->
                            <group string="Intrastat Settings">
                                <field
                                    name="intrastat_goods_sale_threshold"
                                    string="Goods Sale Threshold"
                                />
                                <field
                                    name="intrastat_goods_purchase_threshold"
                                    string="Goods Purchase Threshold"
                                />
                                <field
                                    name="intrastat_service_sale_threshold"
                                    string="Service Sale Threshold"
                                />
                                <field
                                    name="intrastat_service_purchase_threshold"
                                    string="Service Purchase Threshold"
                                />
                                <field
                                    name="fiscal_position_goods_sale_id"
                                    string="Fiscal Position Goods Sale"
                                />
                                <field
                                    name="fiscal_position_goods_purchase_id"
                                    string="Fiscal Position Goods Purchase"
                                />
                                <field
                                    name="fiscal_position_service_sale_id"
                                    string="Fiscal Position Service Sale"
                                />
                                <field
                                    name="fiscal_position_service_purchase_id"
                                    string="Fiscal Position Service Purchase"
                                />
                                <field
                                    name="intrastat_email_recipients"
                                    string="Email Recipients"
                                />
                                <field
                                    name="intrastat_email_enabled"
                                    string="Email Enabled"
                                />
                            </group>
                        </group>

                    </group>

                    <group colspan="4">
                        <group string="Sales Default Values">
                            <field
                                name="intrastat_sale_statistic_amount"
                                string="Force Statistic Value in Euro"
                            />
                            <field
                                name="intrastat_sale_transaction_nature_id"
                                string="Transaction Nature"
                            />
                            <field
                                name="intrastat_sale_transaction_nature_b_id"
                                string="Transaction Nature B"
                            />
                            <field
                                name="intrastat_sale_delivery_code_id"
                                string="Delivery Terms"
                            />
                            <field
                                name="intrastat_sale_transport_code_id"
                                string="Transport Mode"
                            />
                            <field
                                name="intrastat_sale_province_origin_id"
                                string="Origin Province"
                            />
                            <field
                                name="intrastat_sale_country_origin_id"
                                string="Origin Country"
                            />
                        </group>
                        <group string="Purchases Default Values">
                            <field
                                name="intrastat_purchase_statistic_amount"
                                string="Force Statistic Value in Euro"
                            />
                            <field
                                name="intrastat_purchase_transaction_nature_id"
                                string="Transaction Nature"
                            />
                            <field
                                name="intrastat_purchase_transaction_nature_b_id"
                                string="Transaction Nature B"
                            />
                            <field
                                name="intrastat_purchase_delivery_code_id"
                                string="Delivery Terms"
                            />
                            <field
                                name="intrastat_purchase_transport_code_id"
                                string="Transport Mode"
                            />
                            <field
                                name="intrastat_purchase_province_destination_id"
                                string="Destination Province"
                            />
                        </group>
                    </group>
                </page>

            </xpath>

        </field>
    </record>


</odoo>
