<?xml version="1.0" ?>
<odoo>

    <record id="view_intrastat_company_form" model="ir.ui.view">
        <field name="name">view_form_intrastat_company</field>
        <field name="model">res.company</field>
        <field name="inherit_id" ref="base.view_company_form" />
        <field name="arch" type="xml">

            <xpath expr="//notebook" position="inside">
                <page string="Intrastat">
                    <group colspan="4">
                        <group>
                            <field name="intrastat_ua_code" />
                            <field name="intrastat_uom_kg_id" />
                            <field name="intrastat_additional_unit_from" />
                            <field name="intrastat_exclude_free_line" />
                            <field name="intrastat_delegated_name" />
                            <field name="intrastat_delegated_vat" />
                            <field name="intrastat_export_file_name" />
                            <field name="intrastat_min_amount" />
                        </group>
                    </group>
                    <group colspan="4">
                        <group string="Sales Default Values">
                            <field
                                name="intrastat_sale_statistic_amount"
                                string="Force Statistic Value in Euro"
                            />
                            <field
                                name="intrastat_sale_transaction_nature_id"
                                string="Transaction Nature"
                            />
                            <field
                                name="intrastat_sale_transaction_nature_b_id"
                                string="Transaction Nature B"
                            />
                            <field
                                name="intrastat_sale_delivery_code_id"
                                string="Delivery Terms"
                            />
                            <field
                                name="intrastat_sale_transport_code_id"
                                string="Transport Mode"
                            />
                            <field
                                name="intrastat_sale_province_origin_id"
                                string="Origin Province"
                            />
                            <field
                                name="intrastat_sale_country_origin_id"
                                string="Origin Country"
                            />
                        </group>
                        <group string="Purchases Default Values">
                            <field
                                name="intrastat_purchase_statistic_amount"
                                string="Force Statistic Value in Euro"
                            />
                            <field
                                name="intrastat_purchase_transaction_nature_id"
                                string="Transaction Nature"
                            />
                            <field
                                name="intrastat_purchase_transaction_nature_b_id"
                                string="Transaction Nature B"
                            />
                            <field
                                name="intrastat_purchase_delivery_code_id"
                                string="Delivery Terms"
                            />
                            <field
                                name="intrastat_purchase_transport_code_id"
                                string="Transport Mode"
                            />
                            <field
                                name="intrastat_purchase_province_destination_id"
                                string="Destination Province"
                            />
                        </group>
                    </group>
                </page>

            </xpath>

        </field>
    </record>
    <record id="view_company_form_intrastat_inherited" model="ir.ui.view">
        <field name="name">res.company.form.intrastat.inherited</field>
        <field name="model">res.company</field>
        <field name="inherit_id" ref="base.view_company_form" />
        <field name="arch" type="xml">
            <xpath expr="//group[last()]" position="after">
                <group string="Impostazioni Intrastat">
                    <!-- Campi per le soglie -->
                    <field name="intrastat_goods_sale_threshold" />
                    <field name="intrastat_goods_purchase_threshold" />
                    <field name="intrastat_service_sale_threshold" />
                    <field name="intrastat_service_purchase_threshold" />
                    <!-- Campi per le posizioni fiscali -->
                    <field name="fiscal_position_goods_sale_id" />
                    <field name="fiscal_position_goods_purchase_id" />
                    <field name="fiscal_position_service_sale_id" />
                    <field name="fiscal_position_service_purchase_id" />
                    <!-- Campo per i destinatari delle email -->
                    <field name="intrastat_email_recipients" />
                    <!-- Campo per abilitare/disabilitare l'invio delle email -->
                    <field name="intrastat_email_enabled" />
                </group>
            </xpath>
        </field>
    </record>
</odoo>
