.DS_Store
Desktop.ini
.tern-port
*~
*.swp

/.idea/
/.vscode/
/.eggs/
/.tox/
/.cache/

.settings/
.project
.pydevproject

*.mo
*.pot

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Libreoffice
.~lock.*

!.gitkeep
